.logoPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: azure;
    border-bottom: 2px solid black;
    position: fixed;
}

.imageButtonBox {
    display: flex;
    width: 50%;
    align-items: center;
}

.logoPanelImage {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 25%;
}

.buttonBox {
    display: flex;
    width: 25%;
}

.logoPanelText {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    width: 50%;
}

p {
    margin: 0;
}

.logoImage {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.logoPanelButton {
    margin-right: 50px;
}