.header {
    display: flex;
    width: 100%;
    border: 5px solid #333;
    justify-content: space-between;
}

.logoBox {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #333;
}

.logoImage {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    border: 5px solid #333;
}

.logoText {
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    margin-left: 10px;
    padding: 0;
    border: 5px solid #333;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    line-height: 28px;
    gap: 30px;
    width: 50%;
    border: 5px solid #333;
}

li {
    list-style-type: none;
}