.myBtn {
    margin: 0;
    padding: 10px 18px;
    border-radius: 10%;
    border: 5px;
    border-color: snow;
    background-color: snow;
    cursor: pointer;
    color: black;
    box-shadow: 5px;
}

.myBtn:hover {
    background-color: LightSteelBlue;
}

.myBtn:active {
    cursor: pointer;
    background-color: snow;
}